button {
  border: none;
  background-color: #a57274;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: #713d42;
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}
