.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  max-width: 425px;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in;
}

.card img {
  height: 10rem;
}

span {
  font-weight: bold;
}

p {
  margin: 0.5rem 0;
}

.description {
  text-align: start;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
